* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(58, 57, 57) !important;
}

.main {
  height: 100vh;
}
.main .call-screen {
  background-color: #212529;
  border-radius: 20px;
  padding: 5px 30px 5px 30px;
}
@media (max-width: 426px) {
  .main .call-screen .top-menu {
    display: block !important;
    position: absolute;
    z-index: 1;
  }
  .main .call-screen div {
    display: block !important;
  }
  .main .call-screen div .square {
    display: block !important;
  }
  .main .call-screen .invite {
    background-color: transparent !important;
    border: none !important;
    margin-left: 0px !important;
  }
  .main .call-screen .settings {
    background-color: transparent !important;
    border: none !important;
    margin-left: 0px !important;
  }
}
.main .call-screen .dropdown .settings {
  background-color: rgb(33, 33, 33);
  padding: 15px 20px 15px 20px;
  border: 1px solid rgb(135, 135, 135);
  color: #748cab;
  border-radius: 13px;
}
.main .call-screen .invite {
  margin-left: 10px;
  background-color: rgb(33, 33, 33);
  border: 1px solid rgb(155, 155, 155);
  border-radius: 13px;
  padding: 15px 20px 15px 20px;
  color: #08a045;
}
.main .call-screen .square {
  font-size: 30px;
}
.main .call-screen .square div {
  padding-left: 15px;
}
.main .call-screen .square div:nth-child(1) {
  color: #fff !important;
}
.main .call-screen .square div:nth-child(2) {
  color: #fff !important;
}
.main .call-screen .square div:nth-child(3) {
  color: #fb8500 !important;
}
.main .call-screen .clock {
  color: rgb(250, 19, 19);
}
.main .call-screen .users img {
  max-width: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.main .call-screen .users .name {
  position: absolute;
  z-index: 1;
  color: #fff;
  padding: 10px 15px 10px 15px;
  background-color: rgb(33, 33, 33);
  opacity: 0.6;
  right: 10%;
  bottom: 10%;
  border-radius: 10px;
}
.main .call-control .call-btn {
  margin: 10px;
  padding: 15px 20px 15px 20px;
  background-color: transparent;
  border: 1px solid rgb(135, 135, 135);
}
.main .call-control .call-btn i {
  color: #fff;
}
.main .call-control .call-btn:nth-child(4) {
  padding-left: 35px;
  padding-right: 35px;
  background-color: rgb(250, 19, 19);
  color: #fff;
  border: none;
}
.main .chat-menu {
  background-color: rgb(33, 33, 33);
  border-radius: 15px;
}
.main .chat-menu .btn-success {
  padding: 15px 0px 15px 0px;
  border-radius: 15px;
  color: #fff !important;
  background-color: #08a045 !important;
}
.main .chat-menu .btn {
  width: 100%;
  background-color: transparent;
  color: rgb(135, 135, 135);
}
.main .chat-menu .btn .badge {
  color: #fff;
}
.main .chat-container {
  height: 65vh;
  overflow-y: scroll;
}
.main .chat-container::-webkit-scrollbar {
  width: 3px;
  background-color: rgb(135, 135, 135);
  border-radius: 5px;
}
.main .chat-container .profile {
  width: 70px;
  height: 70px;
  color: #08a045;
  position: relative;
}
.main .chat-container .profile img {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .chat-container .profile i {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 5%;
}
.main .chat-container .message {
  background-color: rgb(33, 33, 33);
  border-radius: 5px;
  color: #fff;
}
.main .chat-container .message .name span {
  font-size: 13px;
}
.main .chat-container .message .name span:nth-child(2) {
  color: rgb(135, 135, 135);
}
.main .chat-container .message .check {
  color: #0077b6;
}
.main .chat-container .message hr {
  width: 100%;
  background-color: rgb(135, 135, 135);
}
.main .chat-container .message .file i {
  font-size: 4vh;
  margin-left: 20px;
}
.main .typing {
  font-size: 14px;
  color: rgb(135, 135, 135);
}
.main .message-input {
  position: relative;
}
.main .message-input .send {
  height: 100%;
  padding: 0px 30px 0px 30px;
  position: absolute;
  z-index: 1;
  right: 0;
  background-color: rgb(74, 74, 74);
  color: #0077b6;
}
.main .message-input textarea {
  background-color: rgb(33, 33, 33);
  border: none;
  padding-bottom: 30px;
}
.main .message-input textarea::-moz-placeholder {
  padding-top: 20px;
}
.main .message-input textarea::placeholder {
  padding-top: 20px;
}
.main .message-input .options {
  position: absolute;
  bottom: 40%;
}
.main .message-input .options ul {
  list-style: none;
}
.main .message-input .options ul li {
  padding: 5px;
  color: rgb(135, 135, 135);
  padding-left: 15px;
}/*# sourceMappingURL=style.css.map */