$b-color: rgb(58, 57, 57);
$btn-color: rgb(33, 33, 33);
$red: rgb(250, 19, 19);
$screen: #212529;
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: $b-color !important;
}
.main {
  height: 100vh;
  .call-screen {
    background-color: $screen;
    border-radius: 20px;
    @media (max-width: 425px) {
        .deneme {
          display: block !important;
        }
      }
    .dropdown {
      .settings {
        background-color: $btn-color;
        padding: 15px 20px 15px 20px !important;
        border: 1px solid rgb(155, 155, 155) !important;
        color: #748cab;
        border-radius: 13px;
      }
    }
    .invite {
      margin-left: 10px;
      background-color: $btn-color;
      border: 1px solid rgb(155, 155, 155) !important;
      border-radius: 13px;
      padding: 15px 20px 15px 20px !important;
      color: #08a045;
    }
    .square {
      font-size: 30px;
      i {
        padding-left: 15px;
        &:nth-child(1) {
          color: #fff !important;
        }
        &:nth-child(2) {
          color: #fff !important;
        }
        &:nth-child(3) {
          color: #fb8500 !important;
        }
      }
    }
    .clock {
      color: $red;
    }
  }
}
