$b-color: rgb(58, 57, 57);
$btn-color: rgb(33, 33, 33);
$red: rgb(250, 19, 19);
$screen: #212529;
$border-color: rgb(135, 135, 135);
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: $b-color !important;
}
.main {
  height: 65vh;
  
  .call-screen {
    background-color: $screen;
    border-radius: 20px;
    padding:5px 30px 5px 30px;
    @media (max-width: 426px) {
        .top-menu {
          display: block !important;
          position: absolute;
          z-index: 1;
        }
        div{
          display: block !important;
          .square{
            display: block !important;
          }
        }
        .invite{
          background-color: transparent !important;
          border: none !important;
          margin-left: 0px !important;
        }
        .settings{
          background-color: transparent !important;
          border: none !important;
          margin-left: 0px !important;
        }

      }
    .dropdown {
      .settings {
        background-color: $btn-color;
        padding: 15px 20px 15px 20px;
        border: 1px solid $border-color ;
        color: #748cab;
        border-radius: 13px;
      }
    }
    .invite {
      margin-left: 10px;
      background-color: $btn-color;
      border: 1px solid rgb(155, 155, 155);
      border-radius: 13px;
      padding: 15px 20px 15px 20px;
      color: #08a045;
    }
    .square {
      font-size: 30px;
      div {
        padding-left: 15px;
        &:nth-child(1) {
          color: #fff !important;
        }
        &:nth-child(2) {
          color: #fff !important;
        }
        &:nth-child(3) {
          color: #fb8500 !important;
        }
      }
    }
    .clock {
      color: $red;
    }
    .users{
      
      img{
        max-width: 100%;
        min-width: 100%;
        object-fit: cover;
        border-radius: 15px;
      }
      
      .name{
        position: absolute;
        z-index: 1;
        color:#fff ;
        padding: 10px 15px 10px 15px;
        background-color: $btn-color;
        opacity: 0.6;
        right: 10%;
        bottom: 10%;
        border-radius: 10px;
      }
    }
  }
  .call-control{
    .call-btn{
      margin: 10px;
      i{
        color: #fff;
      }
      padding: 15px 20px 15px 20px;
      background-color: transparent;
      border: 1px solid $border-color;
      &:nth-child(4){
        padding-left: 35px;
        padding-right: 35px;
        background-color: $red;
        color: #fff;
        border: none;
      }
    }
    
  }
  .chat-menu{
    background-color: $btn-color;
    border-radius: 15px;
    
    .btn-success{
      padding: 15px 0px 15px 0px;
      border-radius: 15px;
      color: #fff !important;
      background-color: #08a045 !important;
    }
    .btn{
      width: 100%;
      background-color: transparent;
      color: $border-color;
      .badge{
        color: #fff;
      }
    }
  }
  .chat-container{
    height: 480px;
    overflow-y: scroll;
    @media (max-width: 1025px){
      &{
        height: 350px;
      }
    }
    &::-webkit-scrollbar {
      width: 3px;
      background-color: $border-color;
      border-radius: 5px;
    }
    .profile{
      width: 70px;
      height: 70px;
      color: #08a045;
      position: relative;
      
      img{
        max-width: 100%;
        min-width: 100%;
        max-height: 100%;
        min-height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
      i{
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 5%;
      }
    }
    .message{
      background-color: $btn-color;
      border-radius: 5px;
      color: #fff;
      .name{
        span{
          font-size: 13px;
          &:nth-child(2){
            color: $border-color;
          }
        }
      }
      
      .check{
        color: #0077b6;
      }
      hr{
        width: 100%;
        background-color: $border-color;
      }
      .file{
        i{
          font-size: 4vh;
          margin-left: 20px;
        }
      }
    }
    
  }
  .typing{
    font-size: 14px;
    color: $border-color;
    
  }
  .message-input{
    position: relative;
    .send{
      height: 100%;
      padding: 0px 30px 0px 30px;
      position: absolute;
      z-index: 1;
      right: 0;
      background-color: rgb(74, 74, 74);
      color: #0077b6;
    }
    textarea{
      background-color: $btn-color;
      border: none;
      padding-bottom: 30px;
      &::placeholder{
        padding-top: 20px;
      }
    }
    .options{
      position: absolute;
      bottom: 40%;
      ul{
        list-style: none;
        li{
          padding: 5px;
          color: $border-color;
          padding-left: 15px;
        }
      }
    }
  }
}
