$b-color: rgb(58, 57, 57);
$btn-color: rgb(33, 33, 33);
$red: rgb(250, 19, 19);
$screen: #212529;
$border-color: rgb(155, 155, 155);
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: $b-color !important;
}
.main {
  height: 100vh;
  .call-screen {
    background-color: $screen;
    border-radius: 20px;
    padding:5px 30px 5px 30px;
    @media (max-width: 426px) {
        .top-menu {
          display: block !important;
          position: absolute;
          z-index: 1;
        }
        div{
          display: block !important;
          .square{
            display: block !important;
          }
        }
        .invite{
          background-color: transparent !important;
          border: none !important;
          margin-left: 0px !important;
        }
        .settings{
          background-color: transparent !important;
          border: none !important;
          margin-left: 0px !important;
        }

      }
    .dropdown {
      .settings {
        background-color: $btn-color;
        padding: 15px 20px 15px 20px;
        border: 1px solid $border-color ;
        color: #748cab;
        border-radius: 13px;
      }
    }
    .invite {
      margin-left: 10px;
      background-color: $btn-color;
      border: 1px solid rgb(155, 155, 155);
      border-radius: 13px;
      padding: 15px 20px 15px 20px;
      color: #08a045;
    }
    .square {
      font-size: 30px;
      div {
        padding-left: 15px;
        &:nth-child(1) {
          color: #fff !important;
        }
        &:nth-child(2) {
          color: #fff !important;
        }
        &:nth-child(3) {
          color: #fb8500 !important;
        }
      }
    }
    .clock {
      color: $red;
    }
    .users{
      
      img{
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
      }
      
      .name{
        position: absolute;
        z-index: 1;
        color:#fff ;
        padding: 10px 15px 10px 15px;
        background-color: $btn-color;
        opacity: 0.6;
        right: 0;
        border-radius: 10px;
      }
    }
  }
  .call-control{
    .call-btn{
      margin: 10px;
      i{
        color: #fff;
      }
      padding: 15px 20px 15px 20px;
      background-color: transparent;
      border: 1px solid $border-color;
      &:nth-child(4){
        padding-left: 35px;
        padding-right: 35px;
        background-color: $red;
        color: #fff;
        border: none;
      }
    }
    
  }
  
}
